<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form (ngSubmit)="onSubmit(myForm.value)" #myForm="ngForm">
      <label for="fname">First Name</label>
      <input type="text" name="fname"  maxlength="10" minlength="2" ngModel required #fname="ngModel" pattern="[a-zA-Z]+$">
      <small *ngIf="fname.touched && fname.invalid">First Name is required field</small>
      
      <br><label for="lname">Last Name</label>
      <input type="text" name="lastname" ngModel required>

      <br><label for="mobile">Mobile Number</label>
      <input type="text" name="mob" minlength="10" maxlength="10" ngModel required #mob="ngModel" pattern="^((\\+91-?)|0)?[0-9]{10}$"><br>
      <small *ngIf="mob.touched && mob.invalid">Enter valid mobile number</small><br>

      <label for="email">Email</label>
      <input type="email" name="em" email ngModel required #em="ngModel">
      <span *ngIf="em.invalid && em.touched">Please enter a valid input</span><br>

      <label for="country" >Country</label>
      <select id="country" name="country" [ngModel]="defaultCountry">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="india">India</option>
          <option value="uk">United Kingdom</option>
          <option value="us">United States</option>
     </select>
      <label for="gender">Gender</label>
      <input type="radio" id="male" value="male" name="gender" ngModel>
      <label for="male">Male</label>
      <input type="radio" id="female" value="female" name="gender" ngModel>
      <label for="female">Female</label>
      <input type="radio" id="other" value="other" checked name="gender" ngModel>
      <label for="other">Other</label>

      <label>Hobbies<i>(Optional)</i></label>
      <div class="form-inline">
      <label><input type="checkbox" id="sports" value="sports" name="hobbies" ngModel>Sports</label>
      <label><input type="checkbox" id="movies" value="movies" name="hobbies" ngModel>Movies</label>
      <label><input type="checkbox" id="music" value="music" name="hobbies" ngModel>Music</label>
      </div>
      <!-- <input type="submit" value="Submit" id="btn" [disabled]="myForm.invalid"> -->
      <button [disabled]="myForm.invalid">Click Here</button>
  </form>
</div>